<!DOCTYPE html>
<html lang="en">
<head>
     
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="/Testmap-master/style.css"> 
  
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
    
</head>
<body>
    <div class="btns-container">
        <button class="btn btn-vegan">Restaurant Vegan</button>
        <button class="btn btn-sans-gluten">Restaurant Sans Gluten</button>
        <button class="btn btn-diet">Restaurant Diet</button>
    </div>

    <div class="map" id="map"></div>

 
     <h1> RESTAURANT SANS GLUTEN</h1>
        <div class="container">
            <div class="restaurant sans gluten">
                <div id="resto1">
                    <img src="/Testmap-master/img/resto1.png">
                </div>
                <div id="resto2">
                    <img src="/Testmap-master/img/resto2.png">
                </div>
                <div id="resto3">
                    <img src="/Testmap-master/img/resto3.png">
                </div>
            </div> 
            <div class="restaurant vegan">
                <div id="resto4">
                    <img src="/Testmap-master/img/resto4.png">
                </div>
                <div id="resto5">
                    <img src="/Testmap-master/img/resto5.png">
                </div>

            </div>
        </div>
<!-- fin de la partie de maintenant-->
    <style>
        #map {
            /* Moitié de la longueur de la page */
            /* 1vh = 1% de la hauteur de la fenêtre */
            height: 50vh;
            width: 50%;
             float: right;
        }
    </style>

    <script src="/script.js"></script>
</body>
</html>