<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
     <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="map"></div>

    <dialog id="laModale">
        <p>Ajouter un nouveau marker :</p>
        <form method="dialog">
            <p>
                <label>Titre :
                    <input type="text" id="titre" />
                </label>
            </p>
            <p>
                <label>Description :
                    <input type="text" id="description" />
                </label>
            </p>
            <div>
                <button value="non">Annuler</button>
                <button value="oui">Valider</button>
            </div>
        </form>
    </dialog>
    <!-- partie de maintenant-->
     <h1> RESTAURANT SANS GLUTEN</h1>
        <div class="container">
            <div class="restaurant sans gluten">
                <div id="resto1">
                    <img src="/Testmap-master/img/resto1.png">
                </div>
                <div id="resto2">
                    <img src="/Testmap-master/img/resto2.png">
                </div>
                <div id="resto3">
                    <img src="/Testmap-master/img/resto3.png">
                </div>
            </div> 
            <div class="restaurant vegan">
                <div id="resto4">
                    <img src="/Testmap-master/img/resto4.png">
                </div>
                <div id="resto5">
                    <img src="/Testmap-master/img/resto5.png">
                </div>

            </div>
        </div>
<!-- fin de la partie de maintenant-->
    <style>
        #map {
            /* Moitié de la longueur de la page */
            /* 1vh = 1% de la hauteur de la fenêtre */
            height: 50vh;
        }
    </style>

    <script src="/script.js"></script>
</body>
</html>